
.header-image {
    background-image: url('../images/header-cover.jpg');
    background-size: cover;
    margin-top: 85px;
}

.cr-footer {
    color: #fff;
    display: inline-block;
}


.flex-container {
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
}


.flex-item {
    flex-grow: 
}


.my-nav-color {
    color: green !important;
}